Repository nerdsane/redis-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-check

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for redis-rust
#
# Install: pip install pre-commit && pre-commit install
# Run: pre-commit run --all-files
# Skip: git commit --no-verify

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-check
        name: taplo check
        entry: taplo check
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

refactor: Split large files for 500-line compliance
  docs/adr/deviations/DEV-001-file-size-limit.md
  docs/adr/deviations/README.md
  src/redis/data.rs
  src/redis/data/hash.rs
  src/redis/data/list.rs
  src/redis/data/mod.rs
  src/redis/data/sds.rs
  src/redis/data/set.rs
  src/redis/data/skiplist.rs
  src/redis/data/sorted_set.rs
  src/redis/data/value.rs
  src/redis/tests.rs
  src/redis/tests/command_parser_tests.rs
  src/redis/tests/list_command_tests.rs
  src/redis/tests/lua_basic_tests.rs
  src/redis/tests/lua_command_tests.rs
  src/redis/tests/lua_redis_call_tests.rs
  src/redis/tests/mod.rs
  src/redis/tests/resp_parser_tests.rs
  src/redis/tests/scan_tests.rs
  src/redis/tests/set_option_tests.rs
  src/redis/tests/sorted_set_command_tests.rs
  src/redis/tests/transaction_tests.rs
  src/replication/mod.rs
  src/replication/state.rs
  src/replication/state/conditional_tests.rs
  src/replication/state/crdt_value.rs
  src/replication/state/delta.rs
  src/replication/state/error.rs
  src/replication/state/hash_tests.rs
  src/replication/state/hincrby_tests.rs
  src/replication/state/mod.rs
  src/replication/state/replicated_value.rs
  src/replication/state/shard_state.rs
  src/replication/state/tests.rs
  src/replication/state/type_mismatch_tests.rs
Due: cargo-fmt, cargo-clippy

refactor(redis): Split commands.rs into command, parser, and executor modules
  src/redis/command.rs
  src/redis/executor/acl_ops.rs
  src/redis/executor/hash_ops.rs
  src/redis/executor/key_ops.rs
  src/redis/executor/list_ops.rs
  src/redis/executor/mod.rs
  src/redis/executor/scan_ops.rs
  src/redis/executor/script_ops.rs
  src/redis/executor/set_ops.rs
  src/redis/executor/sorted_set_ops.rs
  src/redis/executor/string_ops.rs
  src/redis/executor/transaction_ops.rs
  src/redis/mod.rs
  src/redis/parser.rs
Due: cargo-fmt, cargo-clippy

refactor(tigerstyle): Document safety invariants for streaming unwraps
  src/streaming/segment.rs
  src/streaming/simulated_store.rs
Due: cargo-fmt, cargo-clippy

feat(tigerstyle): Add assertions to executor modules
  src/redis/executor/acl_ops.rs
  src/redis/executor/key_ops.rs
  src/redis/executor/scan_ops.rs
  src/redis/executor/transaction_ops.rs
Due: cargo-fmt, cargo-clippy

feat(tigerstyle): Add verify_invariants() and additional assertions
  src/redis/executor/list_ops.rs
  src/redis/executor/script_ops.rs
  src/redis/executor/string_ops.rs
  src/streaming/checkpoint.rs
  src/streaming/manifest.rs
  src/streaming/object_store.rs
  src/streaming/segment.rs
  src/streaming/write_buffer.rs
Due: cargo-fmt, cargo-clippy

feat: Establish Redis Tcl compatibility test suite
  .gitmodules
  CLAUDE.md
  scripts/run-redis-compat.sh
  src/production/connection_optimized.rs
  src/production/perf_config.rs
  src/redis/command.rs
  src/redis/commands.rs
  src/redis/executor/config_ops.rs
  src/redis/executor/mod.rs
  src/redis/executor_dst.rs
  src/redis/parser.rs
  tests/redis_equivalence_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): replace sccache with plain cargo cache, proper 4-layer harness
  .github/workflows/ci.yml
Due: none

fix(ci): simplify to single job, commit Cargo.lock
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
Due: none

fix(ci): override .cargo/config.toml to disable sccache/mold
  .github/workflows/ci.yml
Due: none

fix: address code review findings
  src/production/connection_optimized.rs
  src/redis/commands.rs
  src/redis/executor/string_ops.rs
  src/redis/parser.rs
Due: cargo-fmt, cargo-clippy

feat: connection-level transaction DST + ZRANGE ordering check
  src/redis/executor_dst.rs
  tests/connection_transaction_dst.rs
Due: cargo-fmt, cargo-clippy

docs: add arxiv-style paper on AI-assisted systems programming
  PAPER.md
Due: none

fix: fact-check paper, fix buggify count, dates, CI description
  PAPER.md
Due: none

docs: add CI badge to README
  README.md
Due: none

docs: add badges, link paper from README
  README.md
Due: none

feat(ci): scheduled DST soak testing every 6 hours
  .github/workflows/soak.yml
  scripts/soak-dst.sh
Due: none

chore: remove 4,801 lines of dead files and bloat
  .pre-commit-config.yaml
  BENCHMARK_RESULTS.md
  Dockerfile
  Dockerfile.bloodhound
  Dockerfile.profiling
  datadog/dashboard.json
  datadog/monitors.yaml
  docker/Dockerfile.production
  docs/CANCEL_SAFETY.md
  docs/OBSERVABILITY.md
  docs/archive/PERFORMANCE_COMPARISON.md
  docs/archive/PERFORMANCE_PLAN.md
  docs/archive/PERFORMANCE_PLAN_V2.md
  docs/archive/PLAN.md
  docs/archive/README.md
  docs/skills.md
  examples/metrics_agent.rs
  examples/metrics_dashboard.rs
  scripts/bench_staging.sh
  scripts/capture_baseline.sh
  scripts/maelstrom_test.sh
  scripts/profile_local.sh
  scripts/setup-hooks.sh
  src/bin/metrics_server.rs
  taplo.toml
Due: cargo-fmt, cargo-clippy, taplo-check

fix: buggify determinism, checked arithmetic, unwrap→expect, CLAUDE.md wiring
  CLAUDE.md
  src/redis/executor/key_ops.rs
  src/redis/executor/mod.rs
Due: cargo-fmt, cargo-clippy

feat(tigerstyle): add debug_assert postconditions to all 27 mutation functions
  src/redis/executor/hash_ops.rs
  src/redis/executor/key_ops.rs
  src/redis/executor/list_ops.rs
  src/redis/executor/mod.rs
  src/redis/executor/set_ops.rs
  src/redis/executor/sorted_set_ops.rs
  src/redis/executor/string_ops.rs
Due: cargo-fmt, cargo-clippy

fix(rust-style): convert all .unwrap() to .expect() in library code
  src/io/simulation.rs
  src/observability/config.rs
  src/production/connection_optimized.rs
  src/redis/data/skiplist.rs
  src/replication/gossip_router.rs
  src/streaming/clock.rs
Due: cargo-fmt, cargo-clippy

feat(dst): add 13 missing commands to executor DST shadow state
  src/redis/executor_dst.rs
Due: cargo-fmt, cargo-clippy

fix(ci): handle Maelstrom linearizability violations honestly
  .github/workflows/ci.yml
  HARNESS.md
  PAPER.md
  README.md
Due: none

fix: rewrite DST_GUIDE from ground truth, fix README/PAPER descriptions
  PAPER.md
  README.md
  docs/DST_GUIDE.md
Due: none

feat: add 6 project skills for on-demand domain expertise
  .claude/agents/actor-model.md
  .claude/agents/distributed-systems.md
  .claude/agents/dst.md
  .claude/agents/formal-verification.md
  .claude/agents/rust-dev.md
  .claude/agents/tigerstyle.md
  .gitignore
  CLAUDE.md
Due: none

fix: remove incorrect VOPR attribution, move docs to docs/
  CLAUDE.md
  README.md
  docs/DST_GUIDE.md
  docs/HARNESS.md
  docs/PAPER.md
  src/production/adaptive_actor.rs
  src/production/adaptive_replication.rs
  src/production/hotkey.rs
  src/production/load_balancer.rs
  src/production/replicated_shard_actor.rs
  src/redis/data/hash.rs
  src/redis/data/list.rs
  src/redis/data/sds.rs
  src/redis/data/set.rs
  src/redis/data/sorted_set.rs
  src/redis/executor_dst.rs
  src/redis/hash_dst.rs
  src/redis/list_dst.rs
  src/redis/set_dst.rs
  src/redis/sorted_set_dst.rs
  src/redis/transaction_dst.rs
  src/replication/crdt_dst.rs
  src/replication/gossip.rs
  src/replication/lattice.rs
  src/streaming/dst.rs
  tests/crdt_dst_test.rs
  tests/executor_dst_test.rs
  tests/hash_dst_test.rs
  tests/list_dst_test.rs
  tests/set_dst_test.rs
  tests/sorted_set_dst_test.rs
  tests/streaming_dst_test.rs
  tests/transaction_dst_test.rs
Due: cargo-fmt, cargo-clippy

feat(acl): run upstream acl.tcl via internal mode, fix 10+ ACL bugs
  scripts/redis-server-wrapper.sh
  scripts/run-redis-compat.sh
  src/production/connection_optimized.rs
  src/redis/commands.rs
  src/redis/executor/mod.rs
  src/security/acl/commands.rs
  src/security/acl/mod.rs
  src/security/acl/user.rs
Due: cargo-fmt, cargo-clippy

docs: update ACL documentation, replace dead executor stubs
  .claude/agents/dst.md
  CLAUDE.md
  docs/adr/009-security-tls-acl.md
  src/redis/executor/acl_ops.rs
  src/security/mod.rs
Due: cargo-fmt, cargo-clippy

fix: gate subcommand ACL check behind #[cfg(feature = "acl")]
  src/production/connection_optimized.rs
Due: cargo-fmt, cargo-clippy

fix: include ACL DST harness files missing from prior commit
  src/security/acl_dst.rs
  tests/acl_dst_test.rs
Due: cargo-fmt, cargo-clippy

ci: add ACL unit tests and Tcl compat step
  .github/workflows/ci.yml
Due: none

docs: sync ADRs with actual implementation state
  docs/adr/001-simulation-first-development.md
  docs/adr/002-actor-per-shard-architecture.md
  docs/adr/003-tigerstyle-coding-standards.md
  docs/adr/004-anna-kvs-crdt-replication.md
  docs/adr/007-feature-flag-optimizations.md
  docs/adr/008-docker-benchmark-methodology.md
  docs/adr/EVOLUTION.md
Due: none

feat: implement SETBIT/GETBIT and fix 3 pre-existing bugs
  CLAUDE.md
  README.md
  docs/HARNESS.md
  docs/PAPER.md
  docs/adr/EVOLUTION.md
  src/redis/command.rs
  src/redis/commands.rs
  src/redis/data/sds.rs
  src/redis/executor/bitmap_ops.rs
  src/redis/executor/mod.rs
  src/redis/executor/string_ops.rs
  src/redis/executor_dst.rs
  src/redis/parser.rs
Due: cargo-fmt, cargo-clippy

docs: add DST coverage and error message steps to command checklists
  .claude/agents/dst.md
  .claude/agents/rust-dev.md
  CLAUDE.md
  docs/HARNESS.md
Due: none

fix: address code review findings from 4 specialist agents
  src/redis/executor/bitmap_ops.rs
  src/redis/executor_dst.rs
Due: cargo-fmt, cargo-clippy

feat: add WAL hybrid persistence with group commit and DST verification
  .claude/agents/dst.md
  .claude/agents/formal-verification.md
  .github/workflows/ci.yml
  CLAUDE.md
  docker/docker-compose.wal-integration.yml
  docs/HARNESS.md
  docs/adr/010-wal-hybrid-persistence.md
  docs/adr/README.md
  scripts/run-wal-integration.sh
  specs/tla/WalDurability.tla
  src/bin/server_persistent.rs
  src/production/replicated_state.rs
  src/stateright/mod.rs
  src/stateright/persistence.rs
  src/streaming/config.rs
  src/streaming/mod.rs
  src/streaming/recovery.rs
  src/streaming/wal.rs
  src/streaming/wal_actor.rs
  src/streaming/wal_config.rs
  src/streaming/wal_dst.rs
  src/streaming/wal_store.rs
  tests/wal_dst_test.rs
Due: cargo-fmt, cargo-clippy

fix: wire WAL env vars into server binary and fix Docker integration
  docker-benchmark/Dockerfile.server-persistent
  docker/docker-compose.wal-integration.yml
  scripts/run-wal-integration.sh
  src/bin/server_persistent.rs
Due: cargo-fmt, cargo-clippy

ci: restructure CI — WAL DST in main pipeline, Stateright as separate workflow
  .github/workflows/ci.yml
  .github/workflows/stateright.yml
  scripts/soak-dst.sh
Due: none

docs: update paper with WAL hybrid persistence and expanded verification
  docs/PAPER.md
Due: none

ci: run all tests including all 13 DST integration suites in CI
  .github/workflows/ci.yml
Due: none
